.grid {
  display: grid;
  grid-template-areas: "dessert dessert dessert cart cart";
  grid-area: dessert;
}

@media only screen and (max-width: 959px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}
